@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Colors
$green-base: #00AAA1;
$green-light: rgba(0, 170, 161, 0.1);
$red-base: #D94335;
$yellow-base: #E5C100;
$black-base:#323232;
$text-hover: $green-base;
$black-2: #222222;
$black-3: #333333;
$gray: #555555;
$regular: #282828;
$pink: #D54BB9;

* {
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.row{
  @media screen and (max-width: 991.8px) {
    margin-left: -15px;
    margin-right: -15px;
    
  }
  @media screen and (max-width: 575.8px) {
    margin-left: 0;
    margin-right: 0;
    
  }
}
h1 {
  font-size: 44px;
  line-height: 50px;
  color: $black-2;

  @media screen and (max-width: 991.8px) {
    font-size: 32px;
    line-height: 36px;
    margin-top: 8px;
  }

  &.article{
    font-size: clamp(32px, 5vw, 36px);

    letter-spacing: 0.2px;
    font-weight: 600;
    color:$black-2;
    
  }

}

h2 {
  margin: 0;
  color: $black-2;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  @media screen and (max-width: 991.8px) {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;

  }
  &.article{
    font-size: clamp(24px, 5vw, 28px);
    line-height: 38px;
    font-weight: 600;
    color:$black-2;
  }
}

h3 {
  margin: 50px 0 24px;
  color: $black-2;
  font-weight: 600;
  font-size: 28px;
  @media screen and (max-width: 991.8px) {
    font-size: 24px;
    line-height: 32px;
    
  }

}
h4{
  font-size: 18px !important;
  line-height: 26px;
  font-weight: 600;
  color: $black-2;
}
aside {
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  gap:40px;
  @media screen and (max-width: 991.8px) {
    gap:24px;
    
  }
  h2{
    font-size: 32px;
    @media screen and (max-width: 991.8px) {
      font-size: 28px;
      
    }
  }
}
.text-gray {
  color: $gray;
}
.text-regular {
  color: $regular;
}
.text-black-2 {
  color: $black-2;
}
.text-black-3{
  color: $black-3;

}
.text-pink{
  color: $pink;
}
.text-green-base{
  color: $green-base;
}
.green.renovation, .green-color.about{
  color: $green-base;
}
.bg-grey{
  background-color: #f9f9f9;
}
section {

  .container {
    padding: 80px 0;

    @media screen and (max-width: 991.8px) {
      padding: 60px 0;

    }
    &.has__banner{
      padding-bottom: 70px !important;
        @media screen and (max-width: 991.8px) {
          padding-bottom: 50px !important;
      }
    }
  }
  
 
  .container-lg {
    padding: 80px 0;

    @media screen and (max-width: 991.8px) {
      padding: 60px 0 0;

    }
  }
  .mob-center{
    @media screen and (max-width: 991.8px) {
      max-width: 720px;
      margin: 0 auto;
      padding: 0;
    }

    @media screen and (max-width: 767.8px) {
      max-width: 540px;
      margin: 0 auto;
    }

    @media screen and (max-width: 575.8px) {
      max-width: 100%;
      margin: 0 auto;

    }
  }
  .brd {
    border-bottom: solid 1px #E6EBEA;

    &-m-none {
      @media screen and (max-width: 991.8px) {
        border-bottom: none;

      }
    }
  }
}

.underline {
  border-bottom: solid 2px $green-base;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  background-color: $green-light;
  border: solid 1.5px $green-base;
  color: $green-base;
  font-size: 18px;
  border-radius: 90px;
  width: max-content;
  height: max-content;
}

.badge-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  border: solid 2px $green-base;
  color: $green-base;
  font-size: 18px;
  border-radius: 90px;
  width: max-content;
  height: max-content;

  text-decoration: none;
  &:hover{
    color: $green-base;
    background-color: $green-light;
  }

  @media screen and (max-width: 991.8px) {
    padding: 12px 16px;
    gap: 10px;
    font-size: 14px;
    border: solid 2px $green-base;
  }

  span {
    line-height: 0;
  }
}

.badge-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
}

.badge-category {
  padding: 4px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;

  @media (max-width: 991.8px) {
    padding: 6px 16px;


  }
}

.btn {
  width: 125px;
  height: 50px;
  padding: 16px 24px 16px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1.5px solid $green-base;
  color: $green-base;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $green-base;
    color: #fff;
  }
}

.btn-primary {
  background-color: $green-base;
  border-color: $green-base;
  color: #fff;

  &:hover {
    background-color: $text-hover;
    border-color: $text-hover;
  }
}

.splide__arrow {
  background-color: transparent;
  border: solid 1px #222222;

  svg {

    fill: #222222;

  }


}

.splide__arrow--prev {
  position: absolute;
  left: -50px;
  @media (max-width: 1245px) and (min-width: 1200px) {
    left:-35px;
  }
  @media (max-width: 1060px)  {
    left:-35px;
  }
  @media (max-width: 1035px)  {
    left:-20px;
  }
}


.splide__arrow--next {
  position: absolute;
  right: -50px;
  @media (max-width: 1245px) and (min-width: 1200px){
    right: -35px;
  }
  @media (max-width: 1060px) {
    right: -35px;
  }
  @media (max-width: 1035px) {
    right: -20px;
  }

}
.mt-32{
  @media (min-width:992px) {
    margin-top: 32px !important;
  }
}

.mt-40 {
  margin-top: 40px;

}
.mt-50{
  margin-top: 50px;
}
.mt-mob-24{
  @media screen and (max-width: 991.8px) {
    margin-top: 24px;
    
  }
}



.g-row-40 {
  row-gap: 40px;

}



.author {
  display: flex;
  align-items: center;
  gap: 12px;

  &__name {
    font-weight: 600;

  }

}
.view-all{
  margin-left: auto;
}
article{
  @media (min-width:992px) {
    padding-right: 40px;
    
  }
}

.banner{
  width: fit-content;
    margin: 0 auto;
  padding: 60px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:50px;
  @media screen and (max-width: 991.8px) {
    padding: 40px 0 0;
    
  }
  &__home{
   padding:  0;
   @media screen and (max-width: 991.8px) {
    padding:  0;
  }
  }
  &__aside{
    padding: 0;
    @media screen and (max-width: 991.8px) {
      padding: 0;
    }
    &.sticky {
      position: sticky;
      top: 0;
      margin-bottom: 80px;
      z-index: 99;
      @media screen and (max-width: 991.8px) {
        margin-bottom: 50px;
        
      }
    }
  }
  img{
    max-width: 100%;
    object-fit: cover;
    &.leaderboard{
      height: 90px;
      @media screen and (max-width: 767.8px) {
        height: 60px;
      }
      @media screen and (max-width: 574.8px) {
        height: 50px;
      }
    }
    &.large-rect{
      height: 280px;
    }

  }
}