footer{
    background-color: $black-2;
    .logo-footer{
        @media screen and (max-width: 991.8px){
            text-align: center;
        }
    }
    .footer{
        &-nav{
            padding: 40px 0 30px;
        }
    }
    nav{
        ul{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            @media screen and (max-width: 991.8px){
                flex-direction: column;
                margin-top: 30px;
                gap:8px;
                padding-left: 0;
            }
            li{
                display: flex;
                align-items: center;
                
                text-transform: uppercase;
                @media screen and (max-width: 991.8px){
                    flex-direction: column;
                    gap:8px;
                }
                &::after{
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.78076' cy='2' r='1.5' fill='%2300AAA1'/%3E%3C/svg%3E");
                    width: 4px;
                    height: 4px;
                    background-size: 4px 4px;
                    background-repeat: no-repeat;
                    display: block;
                    margin: 0 35px;
                }
                &:last-child::after{
                    display: none;
                }
                a{
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    text-decoration: none;
                    &:hover{
                        color: #00AAA1;
                    }
                }
            }
        }
    }
    .copyright{
        padding: 30px 0;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-top: rgba(255,255,255,0.15) 1px solid;
    }
}